<nav class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="container container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      Entre toutes <span>les femmes</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% @nav_themes&.each do |theme| %>
          <li class="nav-item">
            <%= link_to theme_path(theme), class: "nav-link" do %><span><%= theme.name %></span><% end %>
          </li>
        <% end %>
        <li class="nav-item d-md-none navbar-letters-item">
          <%= link_to "Toutes les lettres", newsletters_path, class: "navbar-letters-btn" %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link nav-link-subtle" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
